.cover {
  padding: 60px 150px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/all-bg-title.jpg);
  background-position: center;


  h2 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .navigate {
    // width: 15%;

    p {
      display: inline-block;
      padding: 15px;
      background-color: #b0b435;
      font-size: 16px;
      line-height: 29px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

  }
}

.prod-details {
  padding: 70px;

  .container {
    .row {
      .data {

        padding: 0px 30px;

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
        }

        h5 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #b0b435;

          span {
            color: #666666;
            font-size: 13px;
            font-weight: 700;
            text-decoration: line-through;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;

          color: #666666;

          a {
            font-weight: 400;
            font-size: 15px;
            text-decoration: none;
            color: #b0b435;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          color: #1f1f1f;
        }

        .desc {
          font-size: 16px;
          color: #666666;
          font-weight: 400;
        }

        .Quantity {
          border: 1px dashed #000;
          padding: 0px 15px;
          padding-bottom: 1rem;

          label {
            margin-bottom: 0.5rem;
            font-size: 15px;
            font-weight: 400;
            color: #666666;
          }

          input {
            text-align: center;
            border: 2px solid #000;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          }

          input:focus {
            border: 2px solid #b0b435;
            ;
          }
        }


        .buts {
          margin-top: 30px;


          button {
            background-color: #b0b435;
            border-radius: 0;
            padding: 10px 17px;
            font-weight: 700;
            color: #ffffff;
            border: none;
            margin-right: 3px;
          }

          button::after {
            content: "";
            display: block;

          }

          button:hover {
            background-color: #000;
          }
        }

        .social {
          padding-top: 40px;

          a {
            i {
              margin: 2px;
              padding: 10px;
              color: #ffff;
              background-color: #b0b435;
            }

            i:hover {
              background-color: #000;
            }
          }
        }

      }
    }
  }
}

.reviews {
  .container {
    padding: 70px;


    .card {
      .card-body {
        .product {
          .image {
            text-align: center;
            align-items: center;

            img {
              border-radius: 50%;
              border: 0.5px solid #DEE2E6;
              padding: 3px;
              margin: auto;

            }
          }


          p {
            padding: 3px;
            font-size: 15px;
            color: #666666;
          }

          h5 {
            padding: 3px;
            font-size: 12px;
            color: #212529;

          }
        }

        button {
          background-color: #b0b435;
          border-radius: 0;
          padding: 10px 20px;
          font-weight: 700;
          color: #ffffff;
          border: none;
          margin-right: 10px;
        }

        button:hover {
          background-color: #000;
        }
      }
    }
  }
}

.features {
  margin-bottom: 100px;

  .container {}

  .card-details {
    margin: 10px;
    background-color: #F5F5F5;

    .image {
      position: relative;
      overflow: hidden;
    }


    .text {
      padding: 10px;

      h4 {
        font-size: 16px;
        font-weight: 700;
        color: #1f1f1f;
      }

      h5 {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        padding: 4px;
        color: #fff;
        background-color: #b0b435;
        display: inline-block;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      height: 0;
      width: 100%;
      transition: 0.3s;
      overflow: hidden;
      animation: bounce 1s infinite;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;

      button {
        background-color: #b0b435;
        border-radius: 0;
        color: #fff;
        display: inline;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin: 0 !important;
          text-align: center;
          padding: 0;

          i {
            color: #fff;
            background-color: #b0b435;
            padding: 10px;
            font-size: 15px;
            width: 40px;
          }
        }
      }
    }
  }

  .image:hover {
    .overlay {
      height: 100%;
    }
  }

}

@keyframes bounce {

  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  70% {
    transform: translateY(-10px);
  }

  90% {
    transform: translateY(-2px);
  }
}



// Media Query
/* Styles for large screens */
@media (max-width: 1024px) {
  .buy {
    flex-direction: column !important;
  }
}

/* Styles for tablets */
@media (max-width: 768px) {
  .cover {
    padding: 35px;
  }

  .prod-details {
    padding: 70px 20px;
  }

  .reviews {
    .container {
      padding: 0px;
      margin-bottom: 70px;

    }
  }
}

/* Styles for mobile devices */
@media (max-width: 480px) {
  .prod-details {
    .container {
      .row {
        .data {

          padding: 10px;
        }

        .buy {
          .buts {
            button {
              font-size: 15px;
              padding: 10px 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .prod-details {
    .container {
      .row {
        .buy {
          .buts {
            flex-direction: column;

            button {
              width: 70%;
              margin-bottom: 40px;
            }
          }
        }

        .data {
          .social {


            padding-top: 0;
          }
        }
      }
    }
  }
}