<section class="cover">
  <div class="container">
    <div class="row ">
      <div class="d-flex flex-row justify-content-between ">
        <h2>Shop Details</h2>
        <div class="navigate">
          <p><a href="#">Shop </a><span> / </span> Shop Details</p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="prod-details">
  <div class="container">
    <div class="row">
      <div class="col-5 slider"><img class="w-100" src="../../assets/big-img-01.jpg"></div>
      <div class="col-7 data">
        <h2>Fachion Lorem ipsum dolor sit amet</h2>
        <h5><span>$60.00 </span> $40.79</h5>
        <p>More than 20 available / <a href="#"> 8 sold</a></p>
        <h4>Short Description:</h4>
        <p class="desc">Nam sagittis a augue eget scelerisque. Nullam lacinia consectetur sagittis. Nam sed neque id
          eros fermentum dignissim quis at tortor. Nullam ultricies urna quis sem sagittis pharetra. Nam erat turpis,
          cursus in ipsum at, tempor imperdiet metus. In interdum id nulla tristique accumsan. Ut semper in quam nec
          pretium. Donec egestas finibus suscipit. Curabitur tincidunt convallis arcu.</p>
        <div class="Quantity">
          <label for="">Quantity</label>
          <input class="form-control w-50" value="0" min="0" max="20" type="number" fdprocessedid="chiqx">
        </div>
        <div class="buts d-grid gap-5 d-md-block">
          <button class="btn " type="button">Buy New</button>
          <button class="btn " type="button">Add to cart</button>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class=" buts">
            <button class="btn " type="button"><i class="fas fa-heart"></i> Add to wishlist</button>
            <button class="btn " type="button"><i class="fas fa-sync-alt"></i> Add to Compare</button>
          </div>
          <div class="social">
            <a href="">
              <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href=""><i class="fab fa-google-plus" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
            <a href=""><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="reviews">
  <div class="container">
    <div class="card">
      <h5 class="card-header p-4">Product Reviews</h5>
      <div class="card-body">
        <div class="product d-flex flex-row">
          <div class="image text-center p-3"><img src="../../assets/download.svg" alt=""></div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <h5>Posted by Anonymous on 3/1/1888</h5>
            <hr>
          </div>

        </div>

        <div class="product d-flex flex-row">
          <div class="image text-center p-3"><img src="../../assets/download.svg" alt=""></div>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <h5>Posted by Anonymous on 3/1/18</h5>
          </div>
        </div>
        <hr>
        <div class="product d-flex flex-row">
          <div class="image text-center p-3"><img src="../../assets/download.svg" alt=""></div>
          <div claas="text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
              necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
              necessitatibus quae sint natus.</p>
            <h5>Posted by Anonymous on 3/1/18</h5>
          </div>
        </div>
        <hr>
        <div>
          <button class="btn " type="button">Leave a Review</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row text-center">
      <h2>Featured Products</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../assets/img-pro-01.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../assets/img-pro-02.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../assets/img-pro-03.jpg" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../assets/img-pro-04.jpg" alt=""></ng-template>

    </owl-carousel-o>
    <div></div>
    <div></div>
  </div>

</section>