.cover {
  padding: 70px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/all-bg-title.jpg);
  background-position: center;
  background-size: cover;

  h2 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .navigate {
    // width: 15%;

    p {
      display: inline-block;
      padding: 15px;
      background-color: #b0b435;
      font-size: 16px;
      line-height: 29px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

  }
}

.prod-details {
  padding-top: 70px;

  .container {
    .row {
      .data {

        padding: 0px 30px;

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
        }

        h5 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #b0b435;

          span {
            color: #666666;
            font-size: 13px;
            font-weight: 700;
            text-decoration: line-through;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;

          color: #666666;

          a {
            font-weight: 400;
            font-size: 15px;
            text-decoration: none;
            color: #b0b435;
          }
        }

        h4 {
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          color: #1f1f1f;
        }

        .desc {
          font-size: 16px;
          color: #666666;
          font-weight: 400;
        }

        .Quantity {
          border: 1px dashed #000;
          padding: 0px 15px;
          padding-bottom: 1rem;

          label {
            margin-bottom: 0.5rem;
            font-size: 15px;
            font-weight: 400;
            color: #666666;
          }

          input {
            text-align: center;
            border: 2px solid #000;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          }

          input:focus {
            border: 2px solid #b0b435;
            ;
          }
        }


        .buts {
          margin-top: 40px;
          padding: 0;

          button {
            background-color: #b0b435;
            border-radius: 0;
            padding: 10px 20px;
            font-weight: 700;
            color: #ffffff;
            border: none;
            margin-right: 10px;
          }

          button::after {
            content: "";
            display: block;

          }

          button:hover {
            background-color: #000;
          }
        }

        .social {
          padding-top: 40px;


          a {
            i {
              margin: 2px;
              padding: 10px;
              color: #ffff;
              background-color: #b0b435;
            }

            i:hover {
              background-color: #000;
            }
          }


        }

      }
    }
  }
}

.reviews {
  .container {
    padding: 70px;

    .card {
      .card-body {
        .product {
          .image {
            text-align: center;
            align-items: center;

            img {
              border-radius: 50%;
              border: 0.5px solid #DEE2E6;
              padding: 3px;
              margin: auto;

            }
          }


          p {
            padding: 3px;
            font-size: 15px;
            color: #666666;
          }

          h5 {
            padding: 3px;
            font-size: 12px;
            color: #212529;

          }
        }

        button {
          background-color: #b0b435;
          border-radius: 0;
          padding: 10px 20px;
          font-weight: 700;
          color: #ffffff;
          border: none;
          margin-right: 10px;
        }

        button:hover {
          background-color: #000;
        }
      }
    }
  }
}